* {
    margin: 2;
    padding:2;
}

body {
    font-family: Helvetica;
    width: 280px;
    height: 653px;
}

table {
    border-collapse: collapse;
    border: 2px solid #000;
    margin: auto;
    margin-top: 20vh;
}

td {
    border: 2px solid #000;
    text-align: justify;
    padding: 10px;
}

th {
    border: 2px solid #000;
    text-align: center;
    background-color: rgb(54, 125, 218);
    color: white;
    padding: 15px;
}

tr:nth-child(odd) {
    background-color: #a6d8e0;
}